<div class="contenedor">
  <header class="header">
    <img src="assets/logoFrecela.jpg" alt="Logo" class="logo" />
    <div class="header-left">
      <h1>FRECELA</h1>
    </div>
    <nav>
      <ul>
        <li><a (click)="navigateToProductos()">INICIO</a></li>
        <li class="actual"><a>NOSOTROS</a></li>
      </ul>
    </nav>
  </header>

  <section id="main" class="seccion-principal">
    <div class="grid-layout">
      <div class="contenido-nosotros">
        <h1>MISIÓN</h1>
        <p>
          “Importar y comercializar relojes y joyas de alta calidad en
          establecimientos especializados y canales digitales, brindando una
          experiencia de compra personalizada y confiable. Nos enfocamos en
          satisfacer las expectativas de nuestros clientes a través de productos
          exclusivos y un servicio excepcional, generando valor sostenible y
          fortaleciendo relaciones a largo plazo.”.
        </p>
        <p class="oscuro">
          La tecnología es un conjunto de nociones y conocimientos utilizados
          para lograr un objetivo preciso, que de lugar a la solución de un
          problema específico del individuo o a la satisfacción de alguna de sus
          necesidades.
        </p>
        <div class="imagen-ajustada">
          <img src="assets/imgFrecela1.jpg" alt="Logo" class="logo" />
        </div>
      </div>

      <div class="contenido-lateral oscuro">
        <div class="imagen-ajustada">
          <img src="assets/imgFrecela2.jpg" alt="Logo" class="logo" />
        </div>
        <h3>VISIÓN</h3>
        <p>
          “Ser el líder y referente de excelencia en la importación y
          comercialización de relojes y joyas en Ecuador, expandiendo nuestra
          presencia física y digital a nivel nacional e internacional. Seremos
          reconocidos por nuestra innovación, portafolio de productos
          excepcional, eficiencia operativa y un compromiso inquebrantable con
          la satisfacción del cliente y la responsabilidad social.”
        </p>
      </div>
    </div>
  </section>

  <footer>
    <p>Tecnologia Michael Quiroz. Company, &#64;Company 2019</p>
  </footer>
</div>
