<div class="container">
  <header class="header">
    <div class="header-right">
      <h1>Gestión de Productos</h1>
      <span>{{ nombre }} {{ apellido }}</span>
    </div>

    <button class="logout-btn" (click)="cerrarSesion()">Cerrar Sesión</button>
  </header>

  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="buscarProductos()"
      (keyup.enter)="buscarProductos()"
      placeholder="Buscar productos..."
    />
    <input
      type="text"
      [(ngModel)]="saleCode"
      (input)="buscarVenta()"
      (keyup.enter)="buscarVenta()"
      placeholder="Buscar por código de venta..."
    />
    <button (click)="limpiarBusqueda()">Limpiar</button>
  </div>

  <div class="actions">
    <div class="action-card" (click)="abrirModalAgregar()">
      <span>Agregar Producto</span>
    </div>
    <div
      class="action-card"
      *ngIf="userRole === '1'"
      (click)="abrirModalAgregarEmpleado()"
    >
      <span>Agregar Empleado</span>
    </div>
    <div
      class="action-card"
      *ngIf="userRole === '1'"
      (click)="abrirModalAdministrarEmpleados()"
    >
      <span>Administrar Empleados</span>
    </div>

    <div class="action-card" *ngIf="userRole === '1'" (click)="abrirModal()">
      <span>Ver Estadísticas</span>
    </div>

    <div class="actions">
    <div class="action-card" (click)="abrirModalVentas()">
      <span>Ver Ventas</span>
    </div>
  </div>


  </div>

  <div class="product-grid">
    <div
      class="product-card"
      *ngFor="let producto of productosFiltrados"
      (click)="seleccionarProducto(producto)"
    >
      <img
        [src]="obtenerImagenDeProducto(producto.idProducto)"
        alt="{{ producto.nombre }}"
        class="product-image"
      />
      <div class="product-info">
        <h3>{{ producto.nombre }}</h3>
        <p>Precio: ${{ producto.precio }}</p>
        <p>Stock: {{ producto.stock }}</p>
        <button class="edit-btn" (click)="abrirModalEditar(producto)">
          Editar
        </button>
        <div
          class="product-actions"
          *ngIf="userRole === '1'"
          (click)="$event.stopPropagation()"
        >
          <button class="delete-btn" (click)="confirmarEliminar(producto)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Panel de detalles del producto -->
  <div class="product-details" *ngIf="productoSeleccionado">
    <div class="details-content">
      <button class="close-btn" (click)="cerrarPanel()">✖</button>
      <h2>{{ productoSeleccionado.nombre }}</h2>
      <img
        [src]="obtenerImagenDeProducto(productoSeleccionado.idProducto)"
        alt="{{ productoSeleccionado.nombre }}"
      />
      <p>
        <strong>Descripción:</strong> {{ productoSeleccionado.descripcion }}
      </p>
      <p><strong>Precio:</strong> ${{ productoSeleccionado.precio }}</p>
      <p><strong>Stock:</strong> {{ productoSeleccionado.stock }}</p>
      <div class="stock-controls">
        <button (click)="abrirModalStock(true)">Aumentar Stock</button>
        <button (click)="abrirModalStock(false)">Disminuir Stock</button>
      </div>
    </div>
  </div>

  <!-- Modal para editar producto -->
  <div
    class="modal edit-product"
    *ngIf="showEditModal"
    (click)="cerrarModalEditar()"
  >
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Editar Producto</h2>
        <button class="modal-close" (click)="cerrarModalEditar()">✖</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Nombre:</label>
          <input
            type="text"
            [(ngModel)]="productoEditado.nombre"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>Precio:</label>
          <input
            type="number"
            [(ngModel)]="productoEditado.precio"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>Descripción:</label>
          <textarea
            [(ngModel)]="productoEditado.descripcion"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group">
          <label>Tipo de Producto:</label>
          <ng-select
            [items]="TipoProducto"
            bindLabel="nombreTipo"
            bindValue="idTipoProducto"
            [(ngModel)]="productoEditado.idTipoProducto"
            (change)="selectTipo($event)"
            placeholder="Selecciona Tipo"
          ></ng-select>
        </div>
        <div class="form-group">
          <label>Subtipo de Producto:</label>
          <ng-select
            [items]="TipoSubproducto"
            bindLabel="nombreSubtipo"
            bindValue="idTipoSubproducto"
            [(ngModel)]="productoEditado.idTipoSubproducto"
            (change)="selectSubproducto($event)"
            placeholder="Selecciona Subtipo"
          ></ng-select>
        </div>
        <div class="form-group">
          <label>Imágenes:</label>
          <input
            type="file"
            (change)="onFileSelected($event)"
            multiple
            accept="image/*"
          />
          <button (click)="subirImagenes(false)">Subir Imágenes</button>
        </div>
        <div class="image-preview">
          <div
            *ngFor="
              let imagen of obtenerImagenesDeProducto(
                productoEditado.idProducto
              )
            "
            class="image-item"
          >
            <img [src]="imagen.imagenUrl" alt="Imagen del producto" />
            <button
              class="delete-image-btn"
              (click)="abrirModalConfirmarEliminarImagen(imagen.idImagen)"
            >
              ✖
            </button>
          </div>
        </div>
        <button class="save-btn" (click)="guardarEdicion()">Guardar</button>
      </div>
    </div>
  </div>

  <!-- Modal para confirmar eliminación de imagen -->
  <div
    class="modal confirm-delete"
    *ngIf="showConfirmDeleteImageModal"
    (click)="cerrarModalConfirmarEliminarImagen()"
  >
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Confirmar Eliminación</h2>
        <button
          class="modal-close"
          (click)="cerrarModalConfirmarEliminarImagen()"
        >
          ✖
        </button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar esta imagen?</p>
        <button class="confirm-btn" (click)="eliminarImagen()">
          Confirmar
        </button>
        <button
          class="cancel-btn"
          (click)="cerrarModalConfirmarEliminarImagen()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>

  <!-- Modal para añadir producto -->
  <div
    class="modal add-product"
    *ngIf="showAddModal"
    (click)="cerrarModalAgregar()"
  >
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Agregar Producto</h2>
        <button class="modal-close" (click)="cerrarModalAgregar()">✖</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Nombre:</label>
          <input
            type="text"
            [(ngModel)]="nuevoProducto.nombre"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>Precio:</label>
          <input
            type="number"
            [(ngModel)]="nuevoProducto.precio"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>Descripción:</label>
          <textarea
            [(ngModel)]="nuevoProducto.descripcion"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group">
          <label>Stock:</label>
          <input
            type="number"
            [(ngModel)]="nuevoProducto.stock"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>Tipo de Producto:</label>
          <ng-select
            [items]="TipoProducto"
            bindLabel="nombreTipo"
            bindValue="idTipoProducto"
            [(ngModel)]="nuevoProducto.idTipoProducto"
            (change)="selectTipo($event)"
            placeholder="Selecciona Tipo"
          ></ng-select>
        </div>
        <div class="form-group">
          <label>Subtipo de Producto:</label>
          <ng-select
            [items]="TipoSubproducto"
            bindLabel="nombreSubtipo"
            bindValue="idTipoSubproducto"
            [(ngModel)]="nuevoProducto.idTipoSubproducto"
            (change)="selectSubproducto($event)"
            placeholder="Selecciona Subtipo"
          ></ng-select>
        </div>
        <div class="form-group">
          <label>Imágenes:</label>
          <input
            type="file"
            (change)="onFileSelected($event)"
            multiple
            accept="image/*"
          />
        </div>
        <button class="save-btn" (click)="guardarNuevoProducto()">
          Guardar
        </button>
      </div>
    </div>
  </div>

  <!-- Modal para añadir empleado -->
  <div
    class="modal add-employee"
    *ngIf="showAddEmployeeModal"
    (click)="cerrarModalAgregarEmpleado()"
  >
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Agregar Empleado</h2>
        <button class="modal-close" (click)="cerrarModalAgregarEmpleado()">
          ✖
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="empleadoForm" (ngSubmit)="guardarNuevoEmpleado()">
          <div class="form-group">
            <label>Nombres:</label>
            <input
              type="text"
              formControlName="Nombres"
              class="form-control"
              [ngClass]="{
                invalid:
                  empleadoForm.get('Nombres')?.invalid &&
                  empleadoForm.get('Nombres')?.touched
              }"
            />
            <div
              *ngIf="
                empleadoForm.get('Nombres')?.invalid &&
                empleadoForm.get('Nombres')?.touched
              "
              class="error-message"
            >
              El nombre es requerido y solo puede contener letras y espacios.
            </div>
          </div>
          <div class="form-group">
            <label>Apellidos:</label>
            <input
              type="text"
              formControlName="Apellidos"
              class="form-control"
              [ngClass]="{
                invalid:
                  empleadoForm.get('Apellidos')?.invalid &&
                  empleadoForm.get('Apellidos')?.touched
              }"
            />
            <div
              *ngIf="
                empleadoForm.get('Apellidos')?.invalid &&
                empleadoForm.get('Apellidos')?.touched
              "
              class="error-message"
            >
              El apellido es requerido y solo puede contener letras y espacios.
            </div>
          </div>
          <div class="form-group">
            <label>Cédula:</label>
            <input
              type="text"
              formControlName="Cedula"
              class="form-control"
              [ngClass]="{
                invalid:
                  empleadoForm.get('Cedula')?.invalid &&
                  empleadoForm.get('Cedula')?.touched
              }"
            />
            <div
              *ngIf="
                empleadoForm.get('Cedula')?.invalid &&
                empleadoForm.get('Cedula')?.touched
              "
              class="error-message"
            >
              La cédula debe tener exactamente 10 dígitos.
            </div>
          </div>
          <div class="form-group">
            <label>Fecha de Nacimiento:</label>
            <input
              type="date"
              formControlName="FechaNacimiento"
              class="form-control"
              [ngClass]="{
                invalid:
                  empleadoForm.get('FechaNacimiento')?.invalid &&
                  empleadoForm.get('FechaNacimiento')?.touched
              }"
            />
            <div
              *ngIf="
                empleadoForm.get('FechaNacimiento')?.invalid &&
                empleadoForm.get('FechaNacimiento')?.touched
              "
              class="error-message"
            >
              La fecha de nacimiento es requerida.
            </div>
          </div>
          <div class="form-group">
            <label>Género:</label>
            <select
              formControlName="Genero"
              class="form-control"
              [ngClass]="{
                invalid:
                  empleadoForm.get('Genero')?.invalid &&
                  empleadoForm.get('Genero')?.touched
              }"
            >
              <option value="" disabled>Selecciona Género</option>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
              <option value="Otro">Otro</option>
            </select>
            <div
              *ngIf="
                empleadoForm.get('Genero')?.invalid &&
                empleadoForm.get('Genero')?.touched
              "
              class="error-message"
            >
              El género es requerido.
            </div>
          </div>
          <div class="form-group">
            <label>Teléfono:</label>
            <input
              type="tel"
              formControlName="Telefono"
              class="form-control"
              [ngClass]="{
                invalid:
                  empleadoForm.get('Telefono')?.invalid &&
                  empleadoForm.get('Telefono')?.touched
              }"
            />
            <div
              *ngIf="
                empleadoForm.get('Telefono')?.invalid &&
                empleadoForm.get('Telefono')?.touched
              "
              class="error-message"
            >
              El teléfono debe tener 10 dígitos.
            </div>
          </div>
          <div class="form-group">
            <label>Contraseña:</label>
            <input
              type="password"
              formControlName="contrasenia"
              class="form-control"
              [ngClass]="{
                invalid:
                  empleadoForm.get('contrasenia')?.invalid &&
                  empleadoForm.get('contrasenia')?.touched
              }"
            />
            <div
              *ngIf="
                empleadoForm.get('contrasenia')?.invalid &&
                empleadoForm.get('contrasenia')?.touched
              "
              class="error-message"
            >
              La contraseña es requerida y debe tener al menos 6 caracteres.
            </div>
          </div>
          <button
            type="submit"
            class="save-btn"
            [disabled]="empleadoForm.invalid"
          >
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal para gestionar stock -->
  <div class="modal stock" *ngIf="showStockModal" (click)="cerrarModalStock()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>{{ aumentarStock ? "Aumentar" : "Disminuir" }} Stock</h2>
        <button class="modal-close" (click)="cerrarModalStock()">✖</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Cantidad:</label>
          <input
            type="number"
            [(ngModel)]="cantidadStock"
            min="1"
            class="form-control"
          />
        </div>
        <button class="save-btn" (click)="confirmarStock()">Confirmar</button>
      </div>
    </div>
  </div>

  <!-- Modal para administrar empleados -->
  <div
    class="modal manage-employees"
    *ngIf="showManageEmployeesModal"
    (click)="cerrarModalAdministrarEmpleados()"
  >
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Administrar Empleados</h2>
        <button class="modal-close" (click)="cerrarModalAdministrarEmpleados()">
          ✖
        </button>
      </div>
      <div class="modal-body">
        <div class="employee-list">
          <div class="employee-item" *ngFor="let empleado of empleados">
            <span>{{ empleado.nombres }} {{ empleado.apellidos }}</span>
            <span>{{ empleado.cedula }} </span>
            <div class="employee-actions">
              <button class="delete-btn" title="Eliminar (Sin funcionalidad)">
                🗑️
              </button>
              <button
                class="more-btn"
                title="Agregar Descuento"
                (click)="abrirModalAgregarDescuento(empleado)"
              >
                ➕
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para detalles de venta -->
  <div
    class="modal sale-details"
    *ngIf="showSaleDetailsModal"
    (click)="cerrarModalSaleDetails()"
  >
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Detalles de la Venta</h2>
        <button class="modal-close" (click)="cerrarModalSaleDetails()">
          ✖
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="saleDetailsError" class="error-message">
          {{ saleDetailsError }}
        </div>
        <div *ngIf="saleDetails">
          <p><strong>Código:</strong> {{ saleDetails.code }}</p>
          <p><strong>Producto:</strong> {{ saleDetails.nombreProducto }}</p>
          <p>
            <strong>Descripción:</strong>
            {{ saleDetails.descripcionProducto || "N/A" }}
          </p>
          <p>
            <strong>Precio Unitario:</strong> ${{
              saleDetails.precioUnitario || "N/A"
            }}
          </p>
          <p><strong>Cantidad:</strong> {{ saleDetails.cantidad || "N/A" }}</p>
          <p>
            <strong>Precio Total (sin descuento):</strong> ${{
              saleDetails.precioTotal || "N/A"
            }}
          </p>
          <div class="form-group">
            <label>Descuento (%):</label>
            <select
              id="descuento"
              class="form-control discount-select"
              [ngModel]="selectedDescuento"
              (ngModelChange)="onDescuentoChange($event)"
            >
              <option *ngFor="let descuento of descuentos" [value]="descuento">
                {{ descuento }}
              </option>
            </select>
          </div>
          <p>
  <strong>Subtotal (con descuento):</strong> ${{ subtotalDescuento() | number : "1.2-2" }}
</p>
          <p>
  <strong>IVA (15%):</strong> ${{ calcularIva15() | number : "1.2-2" }}
</p>
          <div *ngIf="saleDetails.tipoEntrega === 'ENTREGA A DOMICILIO'">
            <p><strong>Envio:</strong> $ 5.00</p>
          </div>
          <p>
  <strong>Total (con IVA):</strong> ${{ calcularTotalIvaDescuentoEnvio() | number : "1.2-2" }}
</p>
          <p>
            <strong>Cliente:</strong> {{ saleDetails.nombresCliente }}
            {{ saleDetails.apellidosCliente }}
          </p>
          <p><strong>Cédula:</strong> {{ saleDetails.cedulaCliente }}</p>
          <!-- Indicador de carga -->
          <div *ngIf="isGeneratingPDF" class="loading-bar">
            <div class="spinner"></div>
            <span>Generando PDF...</span>
          </div>
          <div class="modal-actions">
            <button class="cancel-btn" (click)="cerrarModalSaleDetails()">
              Cerrar
            </button>
            <button class="save-btn" (click)="generarOrdenPago()">
              Generar Orden de Pago
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para añadir descuento a empleado -->
  <div
    class="modal add-discount"
    *ngIf="showAddDiscountModal"
    (click)="cerrarModalAgregarDescuento()"
  >
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Agregar Descuento a Empleado</h2>
        <button class="modal-close" (click)="cerrarModalAgregarDescuento()">
          ✖
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Cédula:</label>
          <input
            type="text"
            [value]="empleadoSeleccionado?.cedula || ''"
            class="form-control"
            readonly
          />
        </div>
        <div class="form-group">
          <label>Nombre:</label>
          <input
            type="text"
            [value]="
              (empleadoSeleccionado?.nombres || '') +
              ' ' +
              (empleadoSeleccionado?.apellidos || '')
            "
            class="form-control"
            readonly
          />
        </div>
        <div class="form-group">
          <label>Descuento (%):</label>
          <input
            type="number"
            [(ngModel)]="nuevoDescuento"
            min="0"
            max="100"
            class="form-control"
            placeholder="Ingrese el porcentaje de descuento"
          />
        </div>
        <button class="save-btn" (click)="guardarDescuento()">Confirmar</button>
        <button class="cancel-btn" (click)="cerrarModalAgregarDescuento()">
          Cancelar
        </button>
      </div>
    </div>
  </div>

  <div class="modal-backdrop" *ngIf="mostrarModal">
    <div class="modal-container">
      <div class="modal-header">
        <h2>Estadísticas de Ventas</h2>
        <button class="cerrar-btn" (click)="cerrarModal()">X</button>
      </div>

      <div class="modal-body">
        <label>Seleccionar Mes:</label>
        <select [(ngModel)]="mesSeleccionado">
          <option *ngFor="let mes of mesesDisponibles" [value]="mes">
            {{ mes }}
          </option>
        </select>

        <ng-container *ngIf="mesSeleccionado">
          <ng-container *ngIf="obtenerDatosDelMes(mesSeleccionado) as datos">
            <h3>Productos del Mes: {{ mesSeleccionado }}</h3>
            <div
              *ngIf="datos.productos?.productos?.length > 0; else sinProductos"
            >
              <div *ngFor="let producto of datos.productos.productos">
                - Producto: {{ producto.producto }}, Ventas:
                {{ producto.cantidad_vendida }}, Total: ${{
                  producto.monto_total
                }}
              </div>
            </div>
            <ng-template #sinProductos>
              <p>No hay productos registrados este mes.</p>
            </ng-template>

            <h3>Clientes del Mes: {{ mesSeleccionado }}</h3>
            <div *ngIf="datos.clientes?.clientes?.length > 0; else sinClientes">
              <div *ngFor="let cliente of datos.clientes.clientes">
                - Cliente: {{ cliente.cliente }}, Compras:
                {{ cliente.numero_compras }}, Productos Comprados:
                {{ cliente.productos_comprados }}, Total: ${{
                  cliente.monto_total
                }}
              </div>
            </div>
            <ng-template #sinClientes>
              <p>No hay clientes registrados este mes.</p>
            </ng-template>

            <h3>Empleados del Mes: {{ mesSeleccionado }}</h3>
            <div
              *ngIf="datos.empleados?.empleados?.length > 0; else sinEmpleados"
            >
              <div *ngFor="let empleado of datos.empleados.empleados">
                - Empleado: {{ empleado.empleado }}, Ventas:
                {{ empleado.numero_ventas }}, Productos Vendidos:
                {{ empleado.productos_vendidos }}, Total: ${{
                  empleado.monto_total
                }}
              </div>
            </div>
            <ng-template #sinEmpleados>
              <p>No hay empleados registrados este mes.</p>
            </ng-template>

            <h3>Resumen General del Mes: {{ mesSeleccionado }}</h3>
            <div *ngIf="datos.general">
              Total Ventas: {{ datos.general.total_ventas }}<br />
              Monto Total: ${{ datos.general.monto_total }}
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>





</div>


<!-- Modal for navigating sales -->
  <div class="modal sale-navigation" *ngIf="showSaleNavigationModal" (click)="cerrarModalVentas()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Detalles de Ventas</h2>
        <button class="modal-close" (click)="cerrarModalVentas()">✖</button>
      </div>
      <div class="modal-body">
        <div class="search-bar">
          <input
            type="text"
            [(ngModel)]="saleSearchTerm"
            (input)="buscarVentasPorCodigo()"
            (keyup.enter)="buscarVentasPorCodigo()"
            placeholder="Buscar por código de venta..."
          />
        </div>
        <div *ngIf="filteredVentas.length === 0" class="no-data">
          No se encontraron ventas para el código ingresado.
        </div>
        <div *ngIf="filteredVentas.length > 0 && filteredVentas[currentSaleIndex]">
          <div class="navigation-controls">
            <button
              [disabled]="currentSaleIndex === 0"
              (click)="previousSale()"
              class="nav-btn"
            >
              ← Anterior
            </button>
            <span>Venta {{ currentSaleIndex + 1 }} de {{ filteredVentas.length }}</span>
            <button
              [disabled]="currentSaleIndex === filteredVentas.length - 1"
              (click)="nextSale()"
              class="nav-btn"
            >
              Siguiente →
            </button>
          </div>
          <p><strong>Código:</strong> {{ filteredVentas[currentSaleIndex].code }}</p>
          <p><strong>Producto:</strong> {{ filteredVentas[currentSaleIndex].nombreProducto }}</p>
          <p><strong>Cliente:</strong> {{ filteredVentas[currentSaleIndex].nombresCliente }} {{ filteredVentas[currentSaleIndex].apellidosCliente }}</p>
          <p><strong>Cédula:</strong> {{ filteredVentas[currentSaleIndex].cedulaCliente }}</p>
          <p><strong>Cantidad:</strong> {{ filteredVentas[currentSaleIndex].cantidad }}</p>
          <p><strong>Precio Total:</strong> ${{ filteredVentas[currentSaleIndex].precioTotal | number : '1.2-2' }}</p>
          <p><strong>Tipo de Entrega:</strong> {{ filteredVentas[currentSaleIndex].tipoEntrega }}</p>
          <div class="form-group">
            <label><strong>Estado:</strong> {{ filteredVentas[currentSaleIndex].estadoEntrega }}</label>
            <select
              class="form-control"
              [(ngModel)]="saleStatus[filteredVentas[currentSaleIndex].code]"
            >
              <option value="PENDIENTE">Pendiente</option>
              <option value="PAGADO">Pagado</option>
              <option value="RECHAZADO">Rechazado</option>
              <option value="COMPLETADA">Completada</option>
            </select>
          </div>
          <div class="modal-actions">
            <button class="save-btn" (click)="guardarEstadoVenta(filteredVentas[currentSaleIndex].code)">Guardar</button>
            <button class="cancel-btn" (click)="cerrarModalVentas()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para productos con stock bajo -->
<div class="modal low-stock-navigation" *ngIf="showLowStockModal && productosBajoStock?.length > 0" (click)="cerrarModalBajoStock()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>Productos con Stock Bajo</h2>
      <button class="modal-close" (click)="cerrarModalBajoStock()">✖</button>
    </div>
    <div class="modal-body">
      <div *ngIf="productosBajoStock.length === 0" class="no-data">
        No se encontraron productos con stock bajo.
      </div>
      <div *ngIf="productosBajoStock.length > 0 && productosBajoStock[currentLowStockIndex]">
        <div class="navigation-controls">
          <button
            [disabled]="currentLowStockIndex === 0"
            (click)="previousLowStock()"
            class="nav-btn"
          >
            ← Anterior
          </button>
          <span>Producto {{ currentLowStockIndex + 1 }} de {{ productosBajoStock.length }}</span>
          <button
            [disabled]="currentLowStockIndex === productosBajoStock.length - 1"
            (click)="nextLowStock()"
            class="nav-btn"
          >
            Siguiente →
          </button>
        </div>
        <p><strong>Nombre:</strong> {{ productosBajoStock[currentLowStockIndex].nombre }}</p>
        <p><strong>Stock:</strong> {{ productosBajoStock[currentLowStockIndex].stock }}</p>
        <p><strong>Descripción:</strong> {{ productosBajoStock[currentLowStockIndex].descripcion || 'N/A' }}</p>
        <p><strong>Precio:</strong> ${{ productosBajoStock[currentLowStockIndex].precio | number: '1.2-2' }}</p>
        <p class="warning-message">¡Este producto está por acabarse!</p>
        <div class="modal-actions">
          <button class="confirm-btn" (click)="aceptarProductoBajoStock()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
